<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Heather's Cat Friendly Portland Rental Search</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/rentals.css">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>

<body>
  <div class="container">

    <div class="header text-center">
      <h1>Heather's Cat Friendly 2+ Bedroom Portland Rental Search</h1>
    </div>
    <div class="accordion" id="scrape_stats">
      <div class="card">
        <div class="card-header">
          <h4 class="float-left mb-0">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Last Scrape: {{scrapes[0].stamp}} | {{rentals|length}} listings</button>
          </h4>
          <div class="float-right">
            <a class="btn btn-primary btn-sm" href="/scrape" role="button">Scrape All</a>
            <a class="btn btn-primary btn-sm" href="/clean" role="button">Clean DB</a>
          </div>
        </div>
        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#scrape_stats">
          <div class="card-body">
            <ul>
            {% for scrape in scrapes %}
              {% if scrape.stat is number %}
              <li><a href={{scrape.site}}>{{scrape.site}}</a>: {{scrape.stat}} properties updated <a href="/scrape-one?url={{scrape.site}}" class="badge">Retry</a> | <a href="/remove-scrape?url={{scrape.site}}" class="badge">Remove</a></li>
              {% else %}
              <li><a href={{scrape.site}}>{{scrape.site}}</a>: {{scrape.stat}} <a href="/scrape-one?url={{scrape.site}}" class="badge">Retry</a> | <a href="/remove-scrape?url={{scrape.site}}" class="badge">Remove</a>
              </li>
              {% endif %}
            {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div id="filterProp" class="row">
      <form id="filter_form">
        <div id="filter-inputs">
        <span class="formGroup">Parking: <label class="form-radio-label"><input class="form-radio-input" type="radio" value="garage" name="parking" id="garage">garage</label>
        <label class="form-radio-label"><input class="form-radio-input" type="radio" value="off-street" name="parking" id="off-street">off-street</label>
        <label class="form-radio-label"><input class="form-radio-input" type="radio" value="street" name="parking" id="street">street</label></span>
        <span class="formGroup">Laundry: <label class="form-radio-label"><input class="form-radio-input" type="radio" value="in-unit" name="laundry" id="in-unit">in-unit</label>
        <label class="form-radio-label"><input class="form-radio-input" type="radio" value="hookups" name="laundry" id="hookups">hookups</label>
        <label class="form-radio-label"><input class="form-radio-input" type="radio" value="on-site" name="laundry" id="on-site">on-site</label></span>
        <span class="formGroup">Type: <label class="form-radio-label"><input class="form-radio-input" type="radio" value="apt" name="type" id="apt">apt</label>
        <label class="form-radio-label"><input class="form-radio-input" type="radio" value="plex" name="type" id="plex">plex</label>
        <label class="form-radio-label"><input class="form-radio-input" type="radio" value="house" name="type" id="house">house</label></span>
        <span class="formGroup"><input class="form-check-input" type="checkbox" value="dishwasher" name="dishwasher" id="dishwasher">
        <label class="form-check-label" for="dishwasher">dishwasher</label>
        <input class="form-check-input" type="checkbox" value="gasoven" name="gasoven" id="gasoven">
        <label class="form-check-label" for="gasoven">gas oven</label>
        <input class="form-check-input" type="checkbox" value="fireplace" name="fireplace" id="fireplace">
        <label class="form-check-label" for="fireplace">fireplace</label>
        <input class="form-check-input" type="checkbox" value="transit" name="transit" id="transit">
        <label class="form-check-label" for="transit">transit</label>
        <input class="form-check-input" type="checkbox" value="saved" name="saved" id="saved">
        <label class="form-check-label" for="saved">saved</label></span>
        </div>
        <div id="filter-btns">
        <a id="reset_filter" class="btn btn-primary float-right btn-sm" onclick="reset_filter(); return false;">Reset</a>
        <a id="filter_cards" class="btn btn-primary float-right btn-sm" onclick="filter_cards(); return false;">Filter</a>
        </div>
      </form>
    </div>
    <!-- Display Results -->
    <div class="row container-fluid" id="properties">
      <div class="card-columns">
        <form id="update" method="post">
        {% for listing in rentals|sort(attribute='value') %}
          <div class="card listing text-center {% if listing.user_update %}{% if listing.user_update.dishwasher %} {{listing.user_update.dishwasher}} {% endif %}{% if listing.user_update.gasoven %} {{listing.user_update.gasoven}} {% endif %}{% if listing.user_update.transit %} {{listing.user_update.transit}} {% endif %}{% if listing.user_update.fireplace %} {{listing.user_update.fireplace}} {% endif %}{% if listing.user_update.parking %} {{listing.user_update.parking}} {% endif %}{% if listing.user_update.laundry %} {{listing.user_update.laundry}} {% endif %}{% if listing.user_update.type %} {{listing.user_update.type}} {% endif %}{% endif %}{% if listing.save == True %} bg-info saved {% endif %}
          ">
            <img class="card-img-bottom" src="{{listing.img}}" alt="Card image">
            <div class="card-body">
              <h4 class="card-title">{{listing.address}}</h4></a>
              {% if listing.adjrent %}
              <p class="card-text">${{listing.adjrent}}/${{listing.movein}}</p>
              {% else %}
              <p class="card-text">${{listing.rent}}</p>
              {% endif %}
              <p class="card-text">beds: {{listing.beds}}</p>
              <p class="card-text">sq. ft.: {{listing.sqft}}</p>
              {% if listing.value == -99 %}
              <p class="card-text">cost per sq. ft.: unknown</p>
              {% else %}
              <p class="card-text">cost per sq. ft.: ${{listing.value}}</p>
              {% endif %}
              <a href="{{listing.link}}" class="btn btn-primary">See Listing</a>
            </div>
            <div class="card-footer">
              <input class="form-check-input" type="checkbox" value="{{listing.link}}" name="update[]" id="update{{loop.index}}">
              <label class="form-check-label" for="update{{loop.index}}">Select Property</label>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
    <footer class="footer">
      <button type="submit" id="compare" class="btn btn-primary" form="update" formaction="{{url_for('compare')}}">Compare</button>
      <button type="submit" id="calculate" class="btn btn-primary" form="update" formaction="{{url_for('calculate')}}">Calculate</button>
      <button type="submit" id="delete" class="btn btn-primary" form="update" formaction="{{url_for('delete_many')}}">Delete</button>
      <button type="submit" id="toggle" class="btn btn-primary" form="update" formaction="{{url_for('toggle_save')}}">Save/Unsave</button>
    </footer>
    </form>

  </div>
  <script>
    function filter_cards(){
      var filters = document.getElementById("filter_form").elements;
      var checkedboxes = Array.prototype.slice.call(filters).filter(ch => ch.checked==true);
      var cards = Array.from(document.getElementsByClassName("listing"));
      cards.forEach(element => {
        if (checkedboxes.every(input => element.classList.contains(input.value))) {
          element.classList.remove("hide");
        } else {
          element.classList.add("hide");
        }
      });
    }
    function reset_filter(){
      var cards = Array.from(document.getElementsByClassName("listing"));
      cards.forEach(element => {
        if (element.classList.contains("hide")){
          element.classList.remove("hide");
        }
      });
      document.getElementById("filter_form").reset();
    }
  </script>
</body>

</html>
